<body>
    <div class="col-md-8 mt3">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">type</th>
                <th scope="col">lat</th>
                <th scope="col">long</th>
              </tr>
            </thead>
            <tbody>
                <% if (data.length === 0) { %>
                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger fw-semibold mt-3" role="alert">
                            Data masih kosong.
                          </div>
                    </td>
                </tr
                <% } %>

                <% data.forEach((data, i) => { i++ %>
                    <tr>
                        <th scope="row"><%= i++ %> </th>
                        <td><%= data.feature[0].geometry.type %> </td>
                        <td><%= data.feature[0].geometry.coordinates[0] %> </td>
                        <td><%= data.feature[0].geometry.coordinates[0] %> </td>
                      </tr>
                <% }) %>
            </tbody>
          </table>
    </div>
</body>