<body>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZmFrbWFscHJhZGFuYSIsImEiOiJjbGRzY3dvZTIxdXNzM29xZzB1ZTVsaHg3In0.Uhn6pg4AjytK3s5aiAwdlA';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v12', // style URL
            center: [-74.5, 40], // starting position [lng, lat]
            zoom: 9, // starting zoom
        });
    </script>
</body>